@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PIZZA</h1>
    <p>Pizza delivery web app with ASP.NET Core, Razor pages template.</p>
    <img class="mainImage" src="~/Images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Thankyou">Thank you</a>
</div>
